<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testng" parallel="tests" thread-count="5">

    <!-- Define individual suites to be included -->
    <suite-files>
        <suite-file path="./Test01_SwapForDefaultChains.xml"/>
        <suite-file path="./Test02_SwapPolygonToBinance.xml"/>
        <suite-file path="./Test03_SwapAvalancheToOptimism.xml"/>
		<suite-file path="./Test04_SwapBinanceToOptimism.xml"/>
		<suite-file path="./Test05_SwapPolygonToLayerOneX.xml"/>
    </suite-files>
    
    <listeners>
        <listener class-name="com.Blocksone.L1X.Swap_Utility.Listeners"/>
    </listeners>

</suite>
